.html-board {
    background: var(--level-0-background);
}
.html-board.ui.image {
    background: var(--level-0-background);
}

.html-board .row {
    display: flex;
}

.html-board .cell {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 5px solid var(--level-0-border);
}

.html-board .cell.available {
    border-color: var(--cell-available-border);
}
.html-board.editable .cell.available {
    cursor: pointer;
}
.html-board .cell.available:hover {
    border-color: var(--cell-available-hovered-border);
}

.html-board .cell.undoable {
    border-color: var(--cell-undoable-border);
}
.html-board.editable .cell.undoable {
    cursor: pointer;
}
.html-board .cell.undoable:hover {
    border-color: var(--cell-undoable-hovered-border);
}

.html-board .cell .worker {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.html-board .cell .worker.player-player-a {
    background-color: var(--player-a-fill);
}

.html-board .cell .worker.player-player-b {
    background-color: var(--player-b-fill);
}

.html-board .level {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--level-1-background);
    border: 7px solid var(--level-1-border);
}

.html-board .level.level-1 {
    border-color: var(--level-1-border);
    background-color: var(--level-1-background);
}

.html-board .level.level-2 {
    border-color: var(--level-2-border);
    background-color: var(--level-2-background);
}

.html-board .level.level-3 {
    border-color: var(--level-3-border);
    background-color: var(--level-3-backgorund);
}

.html-board .level.level-4 {
    border-color: var(--level-4-border);
    background-color: var(--level-4-background);
}

.html-board .cell.level-0 .level.level-4,
.html-board .cell.level-1 .level.level-4,
.html-board .cell.level-2 .level.level-4,
.html-board .cell.level-3 .level.level-4,
.html-board .cell.level-0 .level.level-3,
.html-board .cell.level-1 .level.level-3,
.html-board .cell.level-2 .level.level-3,
.html-board .cell.level-0 .level.level-2,
.html-board .cell.level-1 .level.level-2,
.html-board .cell.level-0 .level.level-1
{
    border-color: transparent;
    background-color: transparent;
}

.html-board .cell .level.level-3 {
    color: transparent;
    font-size: 0;
}
.html-board.numbered-levels .cell .level.level-3 {
    color: black;
}
.html-board.numbered-levels.obvious-levels .cell .level.level-3 {
    font-size: 45px;
    line-height: 100%;
}
.html-board.numbered-levels.subtle-levels .cell .level.level-3 {
    font-size: 20px;
    line-height: 50%;
    text-align: left;
}
.html-board.numbered-levels.very-subtle-levels .cell .level.level-3 {
    font-size: 10px;
    line-height: 25%;
    text-align: left;
}

@media all and (min-width: 601px) {
    .html-board .cell {
        width: 100px;
        height: 100px;
    }

    .html-board .level {
        border-width: 7px;
    }
}

@media all and (max-width: 600px) {
    .html-board .cell {
        width: 80px;
        height: 80px;
    }

    .html-board .level {
        border-width: 5px;
    }
}

@media all and (max-width: 500px) {
    .html-board .cell {
        width: 60px;
        height: 60px;
    }

    .html-board .level {
        border-width: 5px;
    }
}

.html-board.small-board {
    border-width: 1px;
}
.html-board.small-board.mini {
    width: 52px;
}
.html-board.small-board .cell {
    width: 10px;
    height: 10px;
    border-width: 1px;
}
.html-board.small-board .level {
    border-width: 1px;
}
.html-board.small-board.numbered-levels .cell .level.level-3 {
    font-size: 0px;
}

.html-board.medium-board {
    border-width: 1px;
}
.html-board.medium-board .cell {
    width: 40px;
    height: 40px;
    border-width: 1px;
}
.html-board.medium-board .level {
    border-width: 1px;
}
.html-board.medium-board.numbered-levels.obvious-levels .cell .level.level-3 {
    font-size: 30px;
}
