div#root {
    background: dimgray;
    height: 100%;
}

.background {
    display: inline-block;
    border: 5px white;
    background: limegreen;
    height: 100%;
}

.row {
    display: flex;
}

.cell {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 5px solid white;
}

.cell.available {
    border-color: aquamarine;
    cursor: pointer;
}

.cell.available:hover {
    border-color: black;
}

.cell .worker {
    display: block;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    margin: 12.5%;
}

.cell .worker.player-player-a {
    background-color: grey;
}

.cell .worker.player-player-b {
    background-color: lightgrey;
}
